.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.article--no-wrap {
  flex-wrap: nowrap;
}

.article--gap-l {
  gap: var(--spacing-l)
}

.article--hidden-laptop {
  display: none;
}

.article--auto {
  width: auto;
}

.article--centered {
  margin: 0 auto;
  text-align: center;
}

.article--v-align-center {
  flex: 1;
  align-items: center;
}

.article--row {
  flex-direction: row;
}

.article-full-height {
  flex: 1;
}

.article--space-between {
  justify-content: space-between;
}

.article--mb-l {
  margin-bottom: var(--spacing-l);
}

.article--mb-xl {
  margin-bottom: var(--spacing-xl);
}

.article--max-600 {
  max-width: 600px;
}

@media (min-width: 1024px) {
  .article--25 {
    width: 25%;
    min-width: 25%;
  }
  

  .article--50 {
    width: 50%;
    min-width: 50%;
  }
  
  .article--75 {
    width: 75%;
    min-width: 75%;
  }
}

@media (min-width: 1440px) {
  .article--hidden-laptop {
    display: flex;
  }
}