.illustration-container {
  position: relative;
}

.illustration-container .heading {
  z-index: 10;
}

.illustration-container img {
  z-index: 0;
  position: absolute;
}

.illustration-container #star-1 {
  display: none;
}

.illustration-container #star-2 {
  display: none;
}

@media (min-width: 1024px) {
  .illustration-container #star-1 {
    display: block;
    top: -160px;
    left: -165px;
  }
  
  .illustration-container #star-2 {
    display: block;
    top: -50px;
    right: -80px;
  }
}