.image-card {
  width: 400px;
  height: 450px;
  overflow: hidden;
  border-radius: var(--border-radius-m);;
  position: relative;
}

.image-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-card__caption {
  position: absolute;
  bottom: 0;
  padding: var(--spacing-m);
  padding-top: 35%;
  width: 100%;
  color: var(--color-light);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 37.25%, rgba(9, 0, 0, 0.62) 100%, rgba(9, 0, 0, 0.4) 100%);
}

@media (min-width: 426px) {
  .image-card {
    width: 400px;
    height: 600px;
  }

  .image-card__caption {
    height: 50%;
  }
}