.list {
  display: flex;
  gap: var(--spacing-s);
  flex-wrap: wrap
}

.list--mt {
  margin-top: var(--spacing-l);
}

.list--space-evenly {
  width: 100%;
  justify-content: space-evenly;
}


.list--v-align-center {
  align-items: center;
}

.list--center {
  width: 100%;
  justify-content: center;
}

.list--gap-xl {
  gap: var(--spacing-xl);
}

@media (min-width: 1024px) {
  .list--space-evenly {
    padding: 0 var(--spacing-xl);
  }
}