.button {
  display: inline-flex;
  border-radius: var(--border-radius-m);
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: var(--spacing-s) var(--spacing-m);
  text-decoration: none;
  margin-bottom: var(--spacing-s);
  justify-content: center;
  align-items: center;
  transition: all var(--transition-speed-default) ease;
  border: none;
  font-size: 1em;
  cursor: pointer;
  width: fit-content;
}

.button:hover {
  background-color: var(--color-secondary);
  transform: scale(1.05);
}

.button:active {
  transform: scale(1);
}

.button:hover:disabled {
  background-color: var(--color-primary);
  transform: scale(1);
  cursor: default;
}

.button--secondary {
  background-color: var(--color-secondary);
}

.button--mt {
  margin-top: var(--spacing-l);
}

.button--full-width {
  width: 100%;
}

.button--bold {
  font-weight: bold;
}
