.navigation {
  display: block;
  width: 100%;
  background: var(--color-dark);
  position: relative;
  padding: var(--spacing-m) var(--spacing-l);
}

.navigation__list {
  display: none;
}

@media (min-width: 1024px) {
	.navigation {
    position: fixed;
    top: 0;
    padding: var(--spacing-m) var(--spacing-xl);
    z-index: 100;
  }

  .navigation__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
  }

  .navigation__list {
    display: flex;
  }
}