.rich-text h1 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: var(--spacing-s);
}

.rich-text h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: var(--spacing-s);
}

.rich-text h3 {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: var(--spacing-s);
}

.rich-text p {
  font-size: 1em;
  color: var(--color-medium-grey);
  margin-bottom: var(--spacing-s);
}

.rich-text a {
  font-size: 1em;
  text-decoration: none;
  color: var(--color-secondary);
  transition: all var(--transition-speed-default) ease;
  cursor: pointer;
}
